/*华热科技*/
.weather .chart-content ul div.detail div:first-child {
    font-size: 26px;
}
.PeopleTabdiv {
    display: block;
}
.groupEnergy-info {
    padding: 40px 0 0 0px;
    /*width:25%;float:left;*/
}
.quanquanwrap>div:nth-child(1)>div:nth-child(1).runm>div>div>div:after {
    background-size:86px 86px;-moz-background-size:50% 50%;
    background-image: url(../img/qiansedong.gif);
}

.quanquanwrap>div:nth-child(1)>div:nth-child(2).runm>div>div>div:after {
    background-size:86px 86px;-moz-background-size:50% 50%;
    background-image: url(../img/qiansedong.gif);
}

.quanquanwrap>div:nth-child(1)>div:nth-child(3).runm>div>div>div:after {
    background-size:86px 86px;-moz-background-size:50% 50%;
    background-image: url(../img/qiansedong.gif);
}

.quanquanwrap>div:nth-child(1)>div:nth-child(4).runm>div>div>div:after {
    background-size:86px 86px;-moz-background-size:50% 50%;
    background-image: url(../img/qiansedong.gif);
}

.facedark .energyBoxLegendListText_cb {
    font-size: 14px;
    color: #d4513b;
}

.facedark .energyBoxLegendListPara_cb {
    color: #d4513b;
    font-size: 11px
}

.facedark .energyBoxLegendListPara_cd {
    color: green;
    font-size: 11px
}

.panelright .main-box{
    margin:0;
    min-height: 700px;
}

.facedark .panelleft{
    min-height: 700px;
}

.editTable .div-edit{
    margin:0;
    padding-left: 8px;
    height: 100%;
    width: 100%;
    line-height: 40px;
}

.editTable .td-edit{
    padding: 0;
    min-height: 26px;
    height: 40px;
}

.editTable .input-edit{
    margin:0;
    height: 40px;
    width: 100%;
}